.page__line {
  margin: 0;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (min-width: 720px) {
  .page__line {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .page__line {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .page__line {
    margin-left: 200px;
    margin-right: 200px;
  }
}
